*{
  margin: 0;
  padding: 0;
}

body{
  background-color:antiquewhite;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.passwordBox{
  border: 2px solid black;
  width: 350px;
  color: rgb(15, 22, 27);
  /* height: 300px; */
  padding: 20px;
  background-color:aquamarine;
}

h2{
  text-align: center;
  margin-bottom: 20px;
}

.passwordBoxin{
  display: flex;
}

.passwordBoxin input{
  flex-basis: 80%;
  padding-left: 10px;
}

.passwordBoxin button{
  flex-basis: 20%;
  padding: 10px 0px;
}

.passLength{
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.passLength label{
  width: 60px;
  flex-basis: 80%;
}

.passLength input{
  width: 30px;
  padding: 10px 0px;
  flex-basis: 20%;
}

.btn{
  margin-top: 20px;
  width: 100%;
  padding: 10px 0px;
  cursor: pointer;
}